/* You can add global styles to this file, and also import other style files */
html,body{
    /* background-color: #fafafa !important ; */
    /* margin-bottom: "5%"; */
    font-family: "Open Sans"; 
    font-size:14px;
    /* padding:10px; */
    /* margin-top:5%; */
}

.row-top-buffer{
    margin-top:20px;
}

.row-bottom-buffer{
    margin-bottom:20px;
}

/* body.modal-open .modal {
    display: flex !important;
    height: 100%;
} 

body.modal-open .modal .modal-dialog {
    margin: auto;
} */

