.modal {
    background: rgba(0,0,0,0.6);
    z-index: 5000 !important;
  }

  .modal-dialog{
    /* max-width:60vw !important; */
}

.modal-content {
  position: fixed !important;
  max-width: inherit;
}

.modal-body{
  /* padding: 5vh; */
}

.my-container{
  flex:1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height:60%;
  width:60%;
}
